body {
  margin: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100vh;
  display: grid;
  grid-template: 10% / 1fr;
  grid-template-areas:
    "header"
    "main";
}
main {
  grid-area: main;
  /* background-color: green; */
}
header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin-left: 1em;
}
button {
  margin-right: 2em;
}

.container-popup {
  display: flex;
  align-items: center;
}

.values-popup {
  border-right: 1px solid #2c3e50;
  padding-right: 1em;
}

.values-popup div {
  display: flex;
  align-items: center;
}

.input-value {
  width: 3em;
  text-align: center;
}

.button-trash {
  margin: auto;
}

.svg {
  fill: #2c3e50;
  height: 20px;
  width: 40px;
  cursor: pointer;
}
